<template>
  <div class="collapse">
    <vs-collapse
      type="margin"
      class="collapse"
      style="max-width: 70vw; margin: 1rem auto; background-color: lightblue"
    >
      <vs-collapse-item
        style="background-color: rgb(235, 91, 107); color: #fff"
      >
        <div slot="header">The Ronin-dev</div>
        <p>
          There was once a Ronin named Jin Sakai who had been betrayed by his
          master and left for dead. But he returned with a vengeance as sharp as
          his Katana ato deliver his justice, however forbidden it may have been
          according to Feudal Law at the time
        </p>
      </vs-collapse-item>
      <vs-collapse-item
        style="background-color: rgb(177, 84, 227); color: #fff"
      >
        <div slot="header">The Ronin: part 2</div>
        <p>
          There was once a Ronin named Jin Sakai who had been betrayed by his
          master and left for dead. But he returned with a vengeance as sharp as
          his Katana ato deliver his justice, however forbidden it may have been
          according to Feudal Law at the time
        </p>
      </vs-collapse-item>
      <vs-collapse-item
        style="background-color: rgb(100, 133, 233); color: #fff"
      >
        <div slot="header">The Ronin: part 3</div>
        <p>
          There was once a Ronin named Jin Sakai who had been betrayed by his
          master and left for dead. But he returned with a vengeance as sharp as
          his Katana ato deliver his justice, however forbidden it may have been
          according to Feudal Law at the time
        </p>
      </vs-collapse-item>
      <vs-collapse-item style="background-color: rgb(60, 69, 80); color: #fff">
        <div slot="header">The Ronin: final part</div>
        <p>
          There was once a Ronin named Jin Sakai who had been betrayed by his
          master and left for dead. But he returned with a vengeance as sharp as
          his Katana ato deliver his justice, however forbidden it may have been
          according to Feudal Law at the time
        </p>
      </vs-collapse-item>
    </vs-collapse>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
@media only screen and (max-width: 900px) {
  .collapse {
    width: 60vw;
    margin: 0 auto;
  }
}
</style>
