<template>
  <div style="margin-top: 2rem">
    <div>
      <vs-popup title="Order" :active.sync="popupActivo">
        <p>
          Contact: 0782737838887
        </p>
      </vs-popup>
    </div>
    <vs-row vs-justify="center" v-if="profiles.length">
      <vs-col
        type="flex"
        vs-justify="center"
        vs-align="center"
        vs-w="4"
        vs-sm="8"
        v-for="profile in profiles"
        :key="profile.id"
      >
        <vs-card style="background-color: lightblue" actionable>
          <div slot="header">
            <h3>
              {{ profile.game }}
            </h3>
          </div>
          <div style="font-size: 1rem; font-weight: semibold">
            <p>{{ profile.developer }}</p>
          </div>
          <div slot="footer">
            <vs-row vs-justify="flex-end">
              <vs-button
                @click="getMsg"
                icon="refresh"
                type="relief"
                color="rgb(123,80,180)"
                color-text="rgb(50,50,50)"
                >ORDER</vs-button
              >
            </vs-row>
          </div>
        </vs-card>
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    profiles: [
      {
        id: 1,
        developer: "Machinegun Games",
        publisher: "Bethesda",
        game: "Indiana Jones"
      },
      {
        id: 2,
        developer: "Housemarque",
        publisher: "Sony Interactive",
        game: "Returnal"
      },
      {
        id: 3,
        developer: "Ubisoft Montreal",
        publisher: "Ubisoft",
        game: "Watchdogs Legion"
      },
      {
        id: 4,
        developer: "Sony Santa-Monica",
        publisher: "Sony Interactive",
        game: "God of War: Ragnarok"
      },
      {
        id: 5,
        developer: "TeamKill Media",
        publisher: "TeamKill Media",
        game: "Quantum Error"
      },
      {
        id: 6,
        developer: "Avalanche Group",
        publisher: "Square Enix",
        game: "Just Cause 4"
      },
      {
        id: 7,
        developer: "SledgeHammer Games",
        publisher: "Activision",
        game: "Call of Duty: Vanguard"
      },
      {
        id: 8,
        developer: "Arc-Sys Games",
        publisher: "Namco-Bandai",
        game: "Guilty Gear Strive"
      },
      {
        id: 9,
        developer: "Netherrealm Studios",
        publisher: "Warner Bros",
        game: "Mortal Kombat 11"
      },
      {
        id: 10,
        developer: "DC Montreal",
        publisher: "Warner Bros Interactive",
        game: "Gotham Knights"
      },
      {
        id: 11,
        developer: "Square Enix",
        publisher: "Square Enix",
        game: "Forspoken"
      },
      {
        id: 12,
        developer: "Namco-Bandai",
        publisher: "Namco-Bandai",
        game: "Tekken 7"
      },
      {
        id: 13,
        developer: "Streun On studio",
        publisher: "Focus Home Interactive",
        game: "Necromunda: Hired Gun"
      },
      {
        id: 14,
        developer: "Sega",
        publisher: "Sega",
        game: "Virtua Fighter 5: Ultimate Showdown"
      },
      {
        id: 15,
        developer: "SNK",
        publisher: "SNK",
        game: "King of Fighters XV"
      },
      {
        id: 16,
        developer: "People Can Fly",
        publisher: "Square Enix",
        game: "Outriders"
      },
      {
        id: 17,
        developer: "CD Projekt Red",
        publisher: "CD Projekt Red",
        game: "Cyberpunk 2077"
      },
      {
        id: 18,
        developer: "Insomniac Games",
        publisher: "Sony Interactive",
        game: "Ratchet and Clank: A Rift Apart"
      },
      {
        id: 19,
        developer: "Square Enix",
        publisher: "Square Enix",
        game: "Final Fantasy XVI"
      },
      {
        id: 20,
        developer: "Capcom",
        publisher: "Capcom",
        game: "Resident Evil: VIIIage"
      },
      {
        id: 21,
        developer: "Bioware",
        publisher: "Electronic Arts",
        game: "Dragon Age 6"
      },
      {
        id: 22,
        developer: "Insominac",
        publisher: "SIE",
        game: "Wolverine"
      },
      {
        id: 23,
        developer: "Insominac",
        publisher: "SIE",
        game: "Spiderman 2"
      }
    ],
    popupActivo: false
  }),
  methods: {
    getMsg() {
      this.popupActivo = true;
    }
  }
};
</script>

<style scoped></style>
