<template>
  <div class="bg-gray-200">
    <vs-navbar
      type="shadow"
      class="nabarx"
      v-model="activeItem"
      active-text-color="rgb(56, 113, 209)"
      color="rgba(241, 241, 241, 1)"
    >
      <div slot="title">
        <vs-navbar-title> Welcome to Ronin </vs-navbar-title>
      </div>
      <vs-navbar-item index="0">
        <vs-button
          style="font-weight: 600; font-size: 1rem"
          size="small"
          type="line"
          to="/"
          >Home</vs-button
        >
      </vs-navbar-item>
      <vs-navbar-item index="1">
        <vs-button
          style="font-weight: 600; font-size: 1rem"
          size="small"
          type="line"
          color="success"
          to="/about"
          >About</vs-button
        >
      </vs-navbar-item>
    </vs-navbar>
  </div>
</template>

<script>
export default {
  data: () => ({
    activeItem: 0
  }),
  methods: {
    doIt() {
      this.$toast("Vuesax woooo");
    }
  }
};
</script>

<style scoped></style>
