<template>
  <div id="app">
    <div class="nav-alpha">
      <TheNavbar style="margin-bottom: 2rem" />
    </div>
    <div class="updatebutton" v-if="updateExists" style="margin: 1rem auto">
      <vs-button @click="refreshApp" type="relief" color="rgb(115, 63, 182)">
        New version available! Click to update
      </vs-button>
      <!-- <div>
        <vs-popup title="Update" :active.sync="popupActivo">
          <vs-button @click="refreshApp">New content, Refresh</vs-button>
        </vs-popup>
      </div>-->
    </div>

    <img
      src="./assets/ronin.jpg"
      alt="Logo"
      style="height: fit-content; width: fit-content; border-radius: 50%"
    />

    <router-view></router-view>
  </div>
</template>

<script>
import TheNavbar from "./components/TheNavbar.vue";
export default {
  name: "App",
  components: { TheNavbar },
  data() {
    return {
      refreshing: false,
      registration: null,
      updateExists: false
      //popupActivo: false
    };
  },
  methods: {
    showRefreshUI(e) {
      this.registration = e.detail;
      this.updateExists = true;
      //this.popupActivo = true;
    },
    refreshApp() {
      // Handle a user tap on the update app button.
      this.updateExists = false;
      // Protect against missing registration.waiting.
      if (!this.registration || !this.registration.waiting) {
        return;
      }
      this.registration.waiting.postMessage("skipWaiting");
    }
  },
  created() {
    document.addEventListener("swUpdated", this.showRefreshUI, { once: true });
    if (navigator.serviceWorker) {
      navigator.serviceWorker.addEventListener("controllerchange", () => {
        if (this.refreshing) return;
        this.refreshing = true;
        window.location.reload();
      });
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.nav .vs-button {
  margin-right: 1rem;
}
</style>
